<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995744869097-5n508fnvk89i5kn6e87c8e870d0icvmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995744869097-5n508fnvk89i5kn6e87c8e870d0icvmr</string>
	<key>API_KEY</key>
	<string>AIzaSyBa1C-vL9mJbHYIvJcs6Gkv-MjXPPqIcEc</string>
	<key>GCM_SENDER_ID</key>
	<string>995744869097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JIS.CommanderContracts-iOS</string>
	<key>PROJECT_ID</key>
	<string>commander-s-contracts</string>
	<key>STORAGE_BUCKET</key>
	<string>commander-s-contracts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995744869097:ios:b583918ef28ccf24221e78</string>
	<key>DATABASE_URL</key>
	<string>https://commander-s-contracts-default-rtdb.firebaseio.com</string>
</dict>
</plist>